{% include 'header.html' %}
  <nav
    id="navbar-brand"
    nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
  >
    <a class="navbar-brand" href="/"
      ><img
        src="../static/img/logo.gif"
        width="160px"
        height="62px"
        class="d-inline-block align-top"
        alt="ブランド"
    /></a>
  </nav>
  <body>
    <div id="content">
    <div class="container">
      <div class="jumbotron mt-4">
        <div class="bg-mask">
          <h1 class="display-4">
            <font face="Arial Rounded MT Bold">Let's ReCo!</font><br />
          </h1>
          <p class="lead">
            <font face="YuGothic">
              会話データをアップロードし、自分のコミュニケーションを可視化させよう！<br />
              会話のログを見て、自分のコミュニケーションスキルアップに活用してみてください。<br />
              対応ファイル形式は、.mp3と.wavです。<br />
            </font>
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <hr class="my-4 bg-light" />
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <input type="file" name="audio" id="audio" class="button2" />
          <input
            type="submit"
            value="アップロード"
            onclick="clicked()"
            class="button"
          />
        </form>
      </div>
    </div>
  </div>

  </body>
  <div class="rotating progress" id="progress"></div>
  <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.js"></script>
  <script src="../static/js/progress.js"></script>
</html>
